<!DOCTYPE html>
<html lang="en">
<head>
<% include head_include %>
</head>

<body>
<%- include(header) %>

<div class="container add-product">
  <form action="" method="post">
    <div class="container">
      <input type="text" placeholder="Enter Title" name="title" required>
      <input type="text" placeholder="Enter Price" name="price" required>
      <button type="submit">Add product</button>
    </div>
  </form>
</div>


</body>
</html>
