<header>
    <div class="container">
  <nav>
    <a class="logo" href="/about">
      <img src="../photos/logo4.png" alt="logo"></a>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/add-product">Add</a></li>
      <li><a href="/logout">Sign out</a></li>
    </ul>
  </nav>
  </div>
</header>
