<!DOCTYPE html>
<html lang="en">
<head>
<% include head_include %>
</head>
<body>
<% include header_user %>
  <h3><%= title %></h3>
  <% for(var i = 1; i <= 10; i++) { %>
     <%= i %>
  <%  } %>
</body>
</html>
